
#vbox1 {
	-fx-border-color: red;
	-fx-border-width: 1;
}

/*id vbox2인 스타일 적용 */
#vbox2 {
	-fx-border-color: red;
	-fx-border-width: 1;
	-fx-border-radius: 30;
}

#vbox3 {
	/*제일 바깥 경계선 0을 기준으로 내부 경계선 10픽셀 20픽셀만큼 경계선을 줌 */
	-fx-border-insets: 0,10,20;
	-fx-border-color: red,green,blue;
	-fx-border-width:1,1,1;
}

#vbox4 {
	-fx-border-insets:0,10,20;
	-fx-border-color: red,green white green white, blue;
	
	/*재부 경계선의 굵기를 Top:1 Right:3 Bottom :3 Left 1 */
	-fx-border-width: 1,1,1 3 3 1;
}

#vbox5 {
	-fx-border-color: red;
	-fx-border-width: 2;
	/*solid : 실선, dotted : 점선, dashed : 다른스타일의 점선
	 * segments : 일점쇄선 양식(홀수 : 선의 길이, 짝수 :공백 길이)
	 */
	-fx-border-style: solid dotted dashed segments(3,2,8,2)
}